APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:3en3IxkpTyiW5cwAheT/VJhKuxdW2fpdCZj7FtKYPZg=
APP_DEBUG=true
APP_URL=http://localhost

USER_WH_USER=wil.pina@thewaterhouse.com
USER_WH_PASS=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=


DB_MSSQL_CONNECTION=sqlsrv
DB_MSSQL_HOST=10.0.1.11
DB_MSSQL_PORT=1433
DB_MSSQL_DATABASE=
DB_MSSQL_USERNAME=
DB_MSSQL_PASSWORD=

DB_MSSQL_CONNECTION_GR=sqlsrvgr
DB_MSSQL_HOST_GR=10.0.1.11
DB_MSSQL_PORT_GR=1433
DB_MSSQL_DATABASE_GR=
DB_MSSQL_USERNAME_GR=
DB_MSSQL_PASSWORD_GR=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
